version: '3.8'

services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: 'evan'
      POSTGRES_PASSWORD: 'evan789adm'
      POSTGRES_DB: 'accurate_edu'
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata: