version: "3.8"

services:
  node-builder:
    image: node:20-alpine
    container_name: edu-node-builder
    working_dir: /app
    volumes:
      - /root/www/docker_relation_server/nginx/dist:/app/dist
    environment:
      - NODE_ENV=production
      - BUILD_PRO=true
      - BUILD_OUT_DIR=/app/dist
      - COREPACK_ENABLE_DOWNLOAD_PROMPT=0
      - YARN_NPM_REGISTRY_SERVER=https://registry.npmmirror.com
      - YARN_HTTP_TIMEOUT=120000
    command: |
      sh -c "
        corepack enable &&
        yarn set version stable &&
        yarn install --immutable &&
        yarn build:pro &&
        echo 'turbo build finished'
      "

volumes:
  yarn-cache: